header{
    width: 80%;
    position: relative;
    left:10%;
    margin-bottom: 8%;
    padding-bottom: 2%;
    border-left: white 1px solid;
}
h1{
    padding-left: 3%;
    padding-bottom: 5%;
    color:white;
    font-size: 4em;
}
p{
    padding-left: 3%;
    color:gray;
    font-size: 1em;
}
