/*welcome*/
h1{
    font-size: 5em;
    margin: auto;
    position: relative;
    text-align: center;
}
/*reccomended, thanks*/
h2{
    color: gray;
    padding:1% 10%;
}
/*gif*/
header{
    background-image: url("../img/charlotte-anime.gif");
    background-size: cover;
    padding-top:35%;
    padding-bottom:5%;
}
p{
    margin: auto;
    position: relative;
    bottom:1%;
    text-align: center;
}

/*section y flecha*/
.section{
    position: relative;
}
.izquierda{
    position: absolute;
    top:45%;
    left: 1%;
    z-index: 1;
    background-color: white;
    opacity: 80%;
}
.derecha{
    position: absolute;
    top:45%;
    right:1%;
    background-color: white;
opacity: 80%;
}

/*carrusel*/
.carrusel{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: relative;
}
/*section que contiene la img y .detalle*/
.image, .game{
    position: relative;
    margin:1%; 
}
.image img{
    display: inline-block;
    width: 300px;
    height: 400px;
    scroll-snap-align: center;
}
/*como image pero con otro formato*/
.game img{
    display: inline-block;
    width: 400px;
    height: 400px;
    scroll-snap-align: center;
}
/*muestra el nombre al poner cursor arriba*/
.detalle{
    height: 25%;
    width: 90%;
    background-color: black;
    color:gray;
    opacity: 0%;
    bottom:1%;
    position: absolute;
    vertical-align: bottom;
    transition: 0.5s;
    padding-top: 100%;
    text-align: left;
    padding-left: 10%;
}
section:hover > .detalle{
    opacity: 80%;
}

/*section para pelicula*/
#film{
    position: relative;
}
#film img{
    width: 100%;
}
#film a{
    position: absolute;
    width: 100%;
    bottom:30%;
    left:0;
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 0;
}
#film a:hover{
    color:orangered;
}