/*welcome*/
h1{
    position: relative;
    margin: auto;
    font-size: 5em;
    text-align: center;
}
/*reccomended, thanks*/
h2{
    padding:1% 10%;
    color: gray;
}
/*gif*/
header{
    padding-top:35%;
    padding-bottom:5%;
    background-image: url("../img/charlotte-anime.gif");
    background-size: cover;
}
p{
    position: relative;
    bottom:1%;
    margin: auto;
    text-align: center;
}

/*section y flecha*/
section{
    position: relative;
}
.izquierda{
    position: absolute;
    top:45%;
    left: 1%;
    z-index: 1;
    background-color: white;
    opacity: 80%;
}
.derecha{
    position: absolute;
    top:45%;
    right:1%;
    background-color: white;
    opacity: 80%;
}

/*carrusel*/
.carrusel{
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
/*section que contiene la img y .detalle*/
.image, .game{
    margin:1%; 
    cursor: pointer;
}
.image img{
    display: inline-block;
    width: 300px;
    height: 400px;
    scroll-snap-align: center;
}
/*como image pero con otro formato*/
.game img{
    display: inline-block;
    width: 400px;
    height: 400px;
    scroll-snap-align: center;
}
/*muestra el nombre al poner cursor arriba*/
.detalle{
    position: absolute;
    bottom:1%;
    width: 90%;
    height: 25%;
    padding-top: 100%;
    padding-left: 10%;
    color:gray;
    text-align: left;
    background-color: black;
    opacity: 0%;
    transition: 0.4s;
}
section:hover > .detalle{
    opacity: 80%;
}
/*section para pelicula*/
#film{
    position: relative;
}
#film img{
    width: 100%;
}
#film a{
    position: absolute;
    left:0;
    bottom:30%;
    width: 100%;
    padding: 0;
    color: white;
    font-size: 3em;
    text-align: center;
}
#film a:hover{
    color:orangered;
}