*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    min-width: 700px;
    background-color: black;
}
audio{
    position: fixed;
    left: 1%;
    bottom: 1%;
    z-index: 2;
}
/*menu*/
nav{
    position: relative;
    height: 100px;
}
nav>ul{
    display: flex;
    justify-content: end;
    position: absolute;
    top:40%;
    right:1%;
    width: 80%;
}
nav>ul> li{
    display: inline-block;
    padding-right: 2%;
    font-size: 1.5em;
}
/* submenu de tienda*/
#tienda{
    position: absolute;
    padding: 0;
    color: white;
    font-size: 0.8em;
    background-color: black;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s;
    overflow: hidden;
}
#tienda li{
    padding-left: 1.5em;
    line-height: 1.5em;
}
#tienda a{
    color: #bbb;
}
#Tienda:hover>#tienda{
    transform: scaleY(1);
    transform-origin: top;
    /* necesario para la pagina tienda y producto por tener un header */
    z-index: 1;
}
#tienda li:hover{
    background-color: orangered;
}
/* para que no salga la linea abajo del menu */
#tienda a:after{
    display: none;
}

/*enlaces del menu*/
li a{
    position: relative;
    color: gray;
    text-decoration: none;
}
li>a:hover{
    color: orangered;
}
/*linea abajo al poner cursor arriba*/
li>a::after{
    content: '';
    width: 100%;
    height: 0.1em;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: orangered;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-out;
}
li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/*logo*/
nav img{
    width: 100px;
    padding-left: 5%;
}
/*pie de pagina*/
footer{
    width: 50%;
    position: relative;
    left:10%;
    padding-bottom: 10%;
}
#pie{
    margin-top: 5%;
    padding: 3% 0%;;
    border-left: white 1px solid;
}
#pie h2{
    padding-left: 5%;
    color:white;
    font-size: 4em;
    text-align: left;
}
#pie p{
    padding-left: 10%;
    color:white;
    font-size: 2em;
    text-align: left;
}
/*formulario en el pie de pagina*/
form{
    padding-top:5%;
    padding-left: 3%;
}
#text{
    box-sizing: border-box;
    width: 60%;
    height: 1.5em;
    margin-right:1%;
    padding-left: 1%;
    color: gray;
    font-size: 2em;
    background-color: black;
    border: white 1px solid;
}
#submit{    
    box-sizing: border-box;
    width: 15%;
    height: 1.5em;
    color: orangered;
    font-size: 2em;
    background-color: black;
    border: orangered 1px solid;
}
#submit:hover{
    font-weight: bolder;
}