header{
    margin: 2% 8%;
    color: white;
    position: relative;
    -webkit-text-stroke: 1px orangered;
    font-size: 1.5em;
}
main{
    color: gray;
    padding: 0 25% 0 30%;
    height: 550px;  
}
img{
    max-width: 500px;
    max-height: 500px;
    float: left;
    padding-right: 20%;
}
#SKU{
    font-size: 0.8em;
    padding: 1%;
}
#precio{
    padding: 3%;
}
input{
    margin-top: 2%;
    background-color: orangered;
    color: #222;
    width: 30%;
    border: none;
    text-align: center;
    height: 2em;
}
input:hover{
    font-weight: bold;
}