* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color:white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 100vh;
}
a{
    color: orangered;
    text-decoration: none;
}
#X{   
    position: absolute;
    top: 3%;
    right: 3%;
    color: gray;
    font-size: 2em;
}
main {
    width: 500px;
    text-align: center;
}
header>h1{
    font-size: 3em;
    font-weight: 100;
}
aside{
    padding: 5%;
}
.sesion{
    width: 50%;
    height: 2em;
    margin: 1%;
    color: white;
    background-color: black;
    border: none;
    border-bottom: 1px orangered solid;
}
#registrar{
    width: 50%;
    margin: 1%;
    padding: 1%;
    color: white;
    background-color: orangered;
    border: none;
}
article a{
    color: white;
    text-decoration:underline;
}
hr{
    margin: 2%;
}
footer img {
    width: 7%;
    padding: 1%;
}
@media (max-width:570px){    
    main {
        width: 90%; 
    }
}