* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    background-size: cover;
    width: 100%;
    color:white
}

#X {
    text-align: right;
    right: 3%;
    top: 3%;
    position: absolute;
}

#X a {
    font-size: 2em;
    color: gray;
    text-decoration: none;
}
#caja {
    width: 30%; 
    text-align: center;
    margin: auto;
    margin-top: 15%;
}

h1{
    font-weight: 100;
    font-size: 3em;
}
#caja p{
    padding: 5%;
}
p a{
    color: orangered;
    text-decoration: none;
}
.registrar {
    margin: auto;
    width: 60%;
    height: 2em;
    margin-top: 3%;
    padding: 2%;
    box-sizing: border-box;
    padding-bottom: 6%;
    position: relative;
}
a{
    color: white;
    text-decoration: none;
}
#facebook{
    background-color: #3b5998;
}
#google{
    background-color: #4285f4;
}
img {
    position: absolute;
    width: 7%;
    left: 5%;
}